*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
    --color1: #fff;
    --color2: #181818;
    --color3: rgb(235, 155, 8);
    background-color: var(--color2);
}
/*Bootstrap navbar*/
.navbar{
    background-color: var(--color2);
}
.nav-link{
    color: var(--color1);
    font-size: x-large;

}
.nav-link:focus, 
.nav-link:hover,
.navbar-nav .nav-link.active, 
.navbar-nav .nav-link.show{
    color: var(--color3);
}
.dropdown-menu{
    background-color: var(--color3);
}
.dropdown-item{
    color: var(--color2);
    font-size: x-large;
}
.dropdown-item:hover,
.dropdown-item.active{
    background-color: var(--color2);
    color: var(--color1);
}
.dropdown-divider{
    background-color: var(--color1);
}
.navbar-toggler{
    background-color: var(--color3);
}
.navbar-toggler-icon{
    width: 3rem;
    height: 3rem;
}
.offcanvas{
    background-color: var(--color2);
}
.offcanvas h2{
    color: var(--color1);
}
.btn-close{
    background-color: var(--color3);
    opacity: 1;
}

/*Home page*/
.title{
    background-color: var(--color3);
    text-align: center;
    padding: 1em;
}
h2{
    font-size: 30px;
}
/*Bootstrap cards*/
.row{
    margin: 0;
}
.col{
    display: grid;
    justify-content: center;
}
.card{
    border: none;
    border-radius: 15px;
    max-height: 500px;
    max-width: 350px;
}
.bg-image{
    border-radius: 15px;
    max-height: 500px;
}
.card-body{
    width: 80%;
    background-color: var(--color3);
    padding: 1.5rem 2rem;
    box-shadow: 0 9px 24px hsla(0, 0%, 0%, 15);
    border-radius: 15px;
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    text-align: center;
}
.btn-outline-secondary{
    background-color: var(--color2);
    color: var(--color1);
}
.btn a{
    text-decoration: none;
    color: var(--color1);
}

/*Footer*/
footer{
    background-color: var(--color3);
    position: sticky;
}
.footer-container{
    width: 100%;
    padding: 70px 30px 20px;
}
.social-icons{
    display: flex;
    justify-content: center;
}
.social-icons a{
    text-decoration: none;
    background-color: var(--color2);
    margin: 30px;
    padding: 15px;
    border-radius: 30%;
}
.social-icons i{
    font-size: 2em;
    color: var(--color1);
    opacity: .9;
}
.social-icons a:hover{
    background-color: var(--color1);
    transition: 0.5s;
}
.social-icons a:hover i{
    color: var(--color2);
    transition: 0.5s;
}
.footer-nav{
    margin: 30px 0;
} 
.footer-nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footer-nav ul li a{
    color: var(--color2);
    margin: 20px;
    text-decoration: none;
    font-size: 1.5rem;
    opacity: 0.7;
    transition: 0.5s;
}
.footer-nav ul li a:hover{
    opacity: 1;
}
.copyrigth{
    padding: 20px;
    text-align: center;
}
.copyrigth p{
    color: var(--color2);
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
/*Reactive footer*/
@media(max-width: 750px){
    .footer-nav ul{
        flex-direction: column;
    }
    .footer-nav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}


/*Contact*/
.contact-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-block: 1.5rem;
    background-color: #181818;
}
.contact{
    color: var(--color1);
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
}
.contact h3{
    font-size: 24px;
    margin-bottom: 10px;
}
.contact p{
    font-size: 20px;
}


/*Chapters list*/
.sinopsis{
    background-color: var(--color3);
    align-items: center;
    justify-content: center;
    display: inline-block;
}
.sinopsis-img{
    width: 320px;
    border-radius: 1.5rem;
    display: block;
    margin: 30px auto;
    align-items: center;
    justify-content: center;
    box-shadow: 0 9px 24px hsla(0, 0%, 0%, 15);

}
.sinopsis-description{
    width: 80%;
    margin: 3rem 10%;
    display: block;
    text-align: center;
}
.sinopsis-description h1{
    font-size: 3rem;
    margin-top: 2rem;
}
.sinopsis p{
    font-size: 1rem;
    margin-top: 2rem;
}
.chapters{
    display: grid;
    place-items: center;
    padding-block: 1.5rem;
    background-color: #181818;
    list-style-type: none;
}
.chapters li{
    font-size: 2rem;
    padding: 1rem 10rem;
    border-top: 1px solid rgb(131, 127, 127);
    border-bottom: 1px solid rgb(131, 127, 127);
}
.chapters li a{
    text-decoration: none;
    color: var(--color1);
}
.chapters li a:hover{
    color: var(--color3);
}