/*Base*/
/* border box start */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* colores base y fuente */
body {
  font-family: "Poppins", sans-serif;
  --color1: #fff;
  --color2: #181818;
  --color3: rgb(235, 155, 8);
  background-color: var(--color2);
}

/*Components*/
/* estilo de navbar */
.navbar {
  background-color: var(--color2);
}
.navbar .container-fluid .navbar-toggler {
  background-color: var(--color3);
}
.navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
  width: 3rem;
  height: 3rem;
}
.navbar .container-fluid .offcanvas {
  background-color: var(--color2);
}
.navbar .container-fluid .offcanvas .offcanvas-header h2 {
  color: var(--color1);
}
.navbar .container-fluid .offcanvas .offcanvas-header .btn-close {
  background-color: var(--color3);
  opacity: 1;
}
.navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
  color: var(--color1);
  font-size: x-large;
}
.navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .nav-item .dropdown-menu {
  background-color: var(--color3);
}
.navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: var(--color2);
  font-size: x-large;
}
.navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .nav-item .dropdown-menu .dropdown-divider {
  background-color: var(--color1);
}
.navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover,
.navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .nav-item .dropdown-menu .dropdown-item.active {
  background-color: var(--color2);
  color: var(--color1);
}
.navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .nav-item .dropdown-menu .nav-link:focus,
.navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .nav-item .dropdown-menu .nav-link:hover,
.navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .nav-item .dropdown-menu .navbar-nav .nav-link.active,
.navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .nav-item .dropdown-menu .navbar-nav .nav-link.show {
  color: var(--color3);
}

/* reactive burger navbar icon*/
/*mixin*/
/*@if y @else*/
@media (max-width: 410px) {
  .navbar {
    justify-content: center;
  }
  .navbar .container-fluid {
    justify-content: center;
  }
}
/* estilo del footer */
.footer-container {
  width: 100%;
  padding: 70px 30px 20px;
  background-color: var(--color3);
  position: sticky;
}
.footer-container .social-icons {
  display: flex;
  justify-content: center;
}
.footer-container .social-icons a {
  text-decoration: none;
  background-color: var(--color2);
  margin: 1%;
  padding: 15px;
  border-radius: 30%;
}
.footer-container .social-icons i {
  font-size: 2em;
  color: var(--color1);
  opacity: 0.9;
}
.footer-container .social-icons a:hover {
  background-color: var(--color1);
  transition: 1.5s;
}
.footer-container .social-icons a:hover i {
  color: var(--color2);
  transition: 1.5s;
}
.footer-container .footer-nav {
  margin: 30px 0;
}
.footer-container .footer-nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footer-container .footer-nav ul li a {
  color: var(--color2);
  margin: 20px;
  text-decoration: none;
  font-size: 1.5rem;
  opacity: 0.7;
  transition: 0.5s;
}
.footer-container .footer-nav ul li a:hover {
  opacity: 1;
}
.footer-container .copyrigth {
  padding: 20px;
  text-align: center;
}
.footer-container .copyrigth p {
  color: var(--color2);
}
.footer-container .copyrigth p .designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

/*Reactive footer*/
@media (max-width: 750px) {
  .footer-nav ul {
    flex-direction: column;
  }
  .footer-nav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}
/* estilos de las cards */
.row {
  margin: 0;
}
.row .col {
  display: grid;
  justify-content: center;
}
.row .col .card {
  border: none;
  border-radius: 15px;
  max-height: 500px;
  max-width: 350px;
}
.row .col .card .bg-image {
  border-radius: 15px;
  max-height: 500px;
}
.row .col .card .card-body {
  width: 80%;
  background-color: var(--color3);
  padding: 1.5rem 2rem;
  box-shadow: 0 9px 24px hsl(0, 0%, 0%);
  border-radius: 15px;
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  text-align: center;
}
.row .col .card .card-body .btn-outline-secondary {
  background-color: var(--color2);
  color: var(--color1);
}
.row .col .card .card-body .btn-outline-secondary a {
  text-decoration: none;
  color: var(--color1);
}
.row .col .card .card-body .btn-outline-secondary a:hover {
  color: var(--color3);
}

/*Layout*/
.contact-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-block: 1.5rem;
  background-color: #181818;
}

.contact {
  color: var(--color1);
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.contact h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact p {
  font-size: 20px;
}

.sinopsis {
  background-color: var(--color3);
  align-items: center;
  justify-content: center;
  display: inline-block;
}

.sinopsis-img {
  width: 320px;
  border-radius: 1.5rem;
  display: block;
  margin: 30px auto;
  align-items: center;
  justify-content: center;
  box-shadow: 0 9px 24px hsl(0, 0%, 0%);
}

.sinopsis-description {
  width: 80%;
  margin: 3rem 10%;
  display: block;
  text-align: center;
}

.sinopsis-description h1 {
  font-size: 3rem;
  margin-top: 2rem;
}

.sinopsis p {
  font-size: 1rem;
  margin-top: 2rem;
}

.chapters {
  display: grid;
  place-items: center;
  padding-block: 1.5rem;
  background-color: #181818;
  list-style-type: none;
}

.chapters li {
  font-size: 2rem;
  padding: 1rem 10rem;
  border-top: 1px solid rgb(131, 127, 127);
  border-bottom: 1px solid rgb(131, 127, 127);
}

.chapters li a {
  text-decoration: none;
  color: var(--color1);
}

.chapters li a:hover {
  color: var(--color3);
}

.title {
  background-color: var(--color3);
  text-align: center;
  padding: 1em;
}

h2 {
  font-size: 30px;
}

/*estilo de los capitulos*/
.chapter-container {
  padding: 50px 0;
  justify-content: center;
  align-content: center;
  display: grid;
}
.chapter-container .chap-tittle {
  color: var(--color1);
  justify-self: center;
}
.chapter-container .d-grid .btn-move {
  background-color: var(--color3);
  color: var(--color2);
  width: 50%;
  padding: 20px auto;
  justify-self: center;
}
.chapter-container .d-grid .btn-move a {
  text-decoration: none;
  color: var(--color2);
}
.chapter-container .d-grid .btn-move a:hover {
  color: var(--color1);
}
.chapter-container .chap-content {
  display: grid;
  padding: 0 auto;
  justify-content: center;
}
.chapter-container .chap-content .chapter-img {
  width: 90%;
  justify-self: center;
}
.chapter-container .chap-content .chapter-p {
  color: gray;
  padding: 20px;
  font-size: larger;
}

/*# sourceMappingURL=style.css.map */
