.contact-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-block: 1.5rem;
    background-color: #181818;
}
.contact{
    color: var(--color1);
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
}
.contact h3{
    font-size: 24px;
    margin-bottom: 10px;
}
.contact p{
    font-size: 20px;
}